<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>INE5680</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="home-div">        
        <p style="text-align: center; padding-top: 30px">
            Olá <%= user %>
        </p>

        <div>
            <button>Deletar</button>
            <button>Alterar Senha</button>
        </div>
    </div>
</body>

</html>